{% extends "planner.html" %}

{% block current_vars %}
<div>
    <div class="d-flex p-3 flex-wrap">
        {% for vars in state.vars|reverse %}
        <div class="build-together p-2 m-2 bg-secondary" style="margin-right: 1rem;">
            {% for var in vars %}
            <span class="variable">{{var|e}}</span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block open_files %}

<ol class="open_files">
    {% for fname in state.open_files %}
    <li>{{ fname }}</li>
    {% endfor %}
</ol>

{% endblock %}

{% block actions %}
<ol class="actions list-group">
    {% for act in state.actions|reverse %}
    <li class="list-group-item">{% block action scoped %}{% endblock %}</li>
    {% endfor %}
</ol>
{% endblock %}