<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>

    <ul class="nav">
        <ul class="flex-grow-1 pagination">
            {% for page_name, page_url in nav_pages.items() %}
            {% if page_name == current_page %}
            <li class="page-item active">
                <span class="page-link">{{ page_name }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ page_url }}">{{ page_name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% for nav_key, nav_url in navs.items() %}
        <li class="nav-item">
            <a class="nav-link" href="{{nav_url}}">{{ nav_key }}</a>
        </li>
        {% endfor %}
    </ul>
    {{ table|safe }}
</body>

<script>
    $("table").addClass("table").addClass("table-hover");
</script>

</html>